* {
  box-sizing: border-box;
}

/*__VARIALES__*/
:root {
  --main-color: #2196f3;
  --main-color-light: #d2e1ff;
  --main-color-dark: black;
  --text-color-dark: #697ca6;
  --secont-color: #d43f3f;
  --second-color-light: #3a79ff;
  --text-color-normal: #adb3cb;
}

/*__HEADER__*/

.header {
  padding: 18px 117px;
  border-bottom: 2px solid gray;
}

/*__LOGO__*/

.logo {
  display: inline-block;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  color: #212121;
}

.logo-first-letters {
  color: #2196f3;
}

/*__NAVIGATION__*/

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-nav {
  display: flex;
  align-items: center;
}

.navigation-menu {
  display: flex;
  margin-left: 52px;
}

.navigation-menu-item {
  margin: 0 21px;
}

.navigation-menu-link {
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  color: #212121;
  transition: 0.4s;
}

.navigation-menu-link:hover {
  color: #5e81fe;
}

.navigation-contacts {
  display: flex;
}

.navigation-contacts-item {
  margin: 0 14px;
}

.navigation-contacts-link {
  color: #757575;
}

/*__MAIN__*/

.conteiner-main {
  margin-left: auto;
  margin-right: 27px;
  background-color: #2f303a;
}

.section-header-item {
  margin-left: flex;
  margin-right: 27px;
  background-color: #2f303a;
}

.section-item-text {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.section-button_blue {
  margin-left: 1150px;
  margin-right: 200px;
  left: 700px;
  top: 430px;
  border-radius: 4px;
  background-color: #2196f3;
}

.button_blue {
  display: inline-block;
  font-family: "Quicksand", sans-serif;
  font-size: 13px;
  font-weight: 700;
  padding: 13px 15px;
  border-radius: 25px;
  color: #2196f3;
}

.section-header-item .button_blue {
  color: #2196f3;
}

.section-item {
  padding: 171px 15px;
}

.section-conteiner {
  display: flex;
  justify-content: center;
  margin-top: 92px;
}

.conteiner-text {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-color-dark);
}

.text {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.8;
  color: var(--main-color);
  margin-bottom: 25px;
}

.portfolio {
  margin-left: auto;
  margin-right: 27px;
}

.section-portfolio {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.our-team-list {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.8;
  margin-bottom: 25px;
}

.our-team-item {
  margin-left: auto;
  margin-right: 27px;
}

.our-team-item-image {
  height: 20vh;
  padding-top: 170px;
  text-align: center;
  background-image: url("../images/img.png") center/cover no-repeat;
}

.our-team {
  margin-left: auto;
  margin-right: 27px;
}

.container {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.container-main-portfolio1 {
  background: #ffffff;
  height: 80px;
  width: 1200px;
  display: flex;
}

.section-main-item-portfolio1 {
  height: 26px;
  width: 29px;
  left: 150px;
  top: 100px;
  border-radius: nullpx;
  display: flex;
}

.section-button_blue1 {
  margin-left: 1150px;
  margin-right: 200px;
  left: 700px;
  top: 430px;
  border-radius: 4px;
  background-color: #2196f3;
}

.button_blue1 {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 700;
  padding: 13px 15px;
  border-radius: 25px;
  color: #ffffff;
}

.section-button_blue2 {
  margin-left: 1150px;
  margin-right: 200px;
  left: 700px;
  top: 430px;
  border-radius: 4px;
  background-color: #2196f3;
}

.button_blue2 {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 700;
  padding: 13px 15px;
  border-radius: 25px;
  color: #ffffff;
}

.section-button_blue3 {
  margin-left: 1150px;
  margin-right: 200px;
  left: 700px;
  top: 430px;
  border-radius: 4px;
  background-color: #2196f3;
}

.button_blue3 {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 700;
  padding: 13px 15px;
  border-radius: 25px;
  color: #ffffff;
}

.section-button_blue4 {
  margin-left: 1150px;
  margin-right: 200px;
  left: 700px;
  top: 430px;
  border-radius: 4px;
  background-color: #2196f3;
}

.button_blue4 {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 700;
  padding: 13px 15px;
  border-radius: 25px;
  color: #ffffff;
}

.section-button_blue5 {
  margin-left: 1150px;
  margin-right: 200px;
  left: 700px;
  top: 430px;
  border-radius: 4px;
  background-color: #2196f3;
}

.button_blue5 {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 700;
  padding: 13px 15px;
  border-radius: 25px;
  color: #ffffff;
}

.section-our-team-item-portfolio1 {
  padding: 94px;
  height: 294px;
}

.item-portfolio1 {
  display: flex;
  flex-direction: row;
  width: 140%;
  height: 1600px;
  border: 5px solid #d2e1ff;
  margin: 0 auto;
}

/*margin-left: auto;
  margin-right: 27px;*/

.item-img-portfolio1 {
  margin: 174px;
  height: 20vh;
  padding-top: 170px;
  text-align: center;
  /*background-image: url("../images-1/img.jpg") center/cover no-repeat;*/
  border: 3px;
}

.item-portfolio1 {
  margin-left: auto;
  margin-right: 27px;
}

.item-img-portfolio1 {
  height: 20vh;
  padding-top: 170px;
  text-align: center;
  /*background-image: url("../images-1/img-2.-2jpg.jpg") center/cover no-repeat;*/
}

.item-portfolio1 {
  margin-left: auto;
  margin-right: 27px;
}

.item-img-portfolio1 {
  height: 20vh;
  padding-top: 170px;
  text-align: center;
  background-image: url("../images-1/img-3-3.jpg") center/cover no-repeat;
}

.item-portfolio2 {
  margin: 696px;
  margin-left: auto;
  margin-right: 27px;
}

.item-img-portfolio2 {
  margin: 696px;
  left: 215px;
  height: 20vh;
  padding-top: 170px;
  text-align: center;
  background-image: url("../images-1/-4.jpg") center/cover no-repeat;
}

.item-portfolio2 {
  margin-left: auto;
  margin-right: 27px;
}

.item-img-portfolio2 {
  height: 20vh;
  padding-top: 170px;
  text-align: center;
  background-image: url("../images-1/img-5-5.jpg") center/cover no-repeat;
}

.item-portfolio2 {
  margin-left: auto;
  margin-right: 27px;
}

.item-img-portfolio2 {
  height: 20vh;
  padding-top: 170px;
  text-align: center;
  background-image: url("../images-1/img-6-6.jpg") center/cover no-repeat;
}

.item-portfolio7 {
  margin-left: auto;
  margin-right: 27px;
}

.item-img-portfolio7 {
  height: 20vh;
  padding-top: 170px;
  text-align: center;
  background-image: url("../images-1/img7-7.png") center/cover no-repeat;
}

.item-portfolio8 {
  margin-left: auto;
  margin-right: 27px;
}

.item-img-portfolio8 {
  height: 20vh;
  padding-top: 170px;
  text-align: center;
  background-image: url("../images-1/img-8-8.jpg") center/cover no-repeat;
}

.item-portfolio9 {
  margin-left: auto;
  margin-right: 27px;
}

.item-img-portfolio9 {
  height: 20vh;
  padding-top: 170px;
  text-align: center;
  background-image: url("../images-1/img-9-9.jpg") center/cover no-repeat;
}
/*__FOOTER__*/

.footer {
  padding: 93px 117px;
}
